.fixed {
	min-width : 1632px;
}
.wh-center {
	display:flex;
	flex-direction: column;
	justify-content: center;
}

.w-center {
	display:flex;
	flex-direction: column;
	align-items: center;
}

/* .wh-center > div, .wh-center > nav { */
.wh-center > .center {
/* 	display:inline-block;  */
	margin:0 auto;
}

.h-center > .center {
/* 	display:inline-block;  */
	margin:0 auto;
}


.whiteBack {
	background-color: white;
}
.h50 {
	min-height: 50px;
}

.w800 {
	width: 800px;
}

.b {
	background-color: green;
}

.h100-50px {
	height: calc(100% - 50px);
}

.header {
	display: initial;
	width: auto;
}

#top {
	position: fixed;
	top: 0;
/* 	left: auto; */
	width: 100%;
	z-index: 10;
}